[submodule "roles/motd"]
	path = roles/motd
	url = https://github.com/manala/ansible-role-motd
[submodule "roles/fail2ban"]
	path = roles/fail2ban
	url = https://github.com/ston3o/ansible-fail2ban
[submodule "roles/firewall"]
	path = roles/firewall
	url = https://github.com/geerlingguy/ansible-role-firewall
[submodule "roles/os-hardening"]
	path = roles/os-hardening
	url = https://github.com/dev-sec/ansible-os-hardening
