    _    _   _ ____ ___ ____  _     _____ 
   / \  | \ | / ___|_ _| __ )| |   | ____|
  / _ \ |  \| \___ \| ||  _ \| |   |  _|  
 / ___ \| |\  |___) | || |_) | |___| |___ 
/_/   \_\_| \_|____/___|____/|_____|_____|
                                          
OS:       : {{ ansible_distribution }} {{ ansible_distribution_version }} {{ ansible_distribution_release }}
ip        : {{ ansible_eth0.ipv4.address }}
hostname  : {{ ansible_hostname }}

